 @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

 body {
   padding: 50px;
   background-color: #8f00b3;
 }

 h1 {
   color: white;
   text-decoration: underline;
 }

 h2 {
   color: white;
   text-decoration: underline;
 }

 h3 {
   color: white;
 }

 h4 {
   color: white;
   font-size: 20px;
 }

 p {
   color: white;
   font-size: 16px;
 }

 .box {
   width: 1150px;
   height: 200px;
   float: center;
 }

 .black {
   background: black;
 }

 .white {
   background: white;
   height: 200px;
   width:200px;
 }
 
 .dropbtn {
   background-color: #3498DB;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.stafflist {
  position: relative;
  display: inline-block;
}

.stafflist-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.stafflist-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.stafflist-content a:hover {
  background-color: #ddd;
}

.show {display:block;}

 footer {
   background-color: #808080;
 }
